*~
# for macOS
.DS_Store
# for idea
.idea
# for eclipse
.project
.settings
.classpath
# for emacs
*\#*
# Ignore Gradle project-specific cache directory
.gradle

logs
*.log
**/test.log
SavedStates

# Ignore Gradle build output directory
build
app/bin
/app/src/main/java/productsimulation/concat_java.py
/app/src/main/java/productsimulation/my_combined.java
