*~
# for macOS
.DS_Store
# for idea
.idea
# for eclipse
.project
.settings
# for emacs
*\#*
# Ignore Gradle project-specific cache directory
.gradle

logs
*.log
**/test.log
SavedStates

# Ignore Gradle build output directory
build
app/bin